@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(#733E1F,#A64914);
    }
    
    #login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div#imagem {
        height: 320px;
        width: 180px;
        border-radius: 10px 0px 0px 10px;
    }

    #formulario {
        width: 400px;
        border-radius: 0px 10px 10px 0px;
    }
}