@charset "UTF-8";

/* cores #8B5FFF #888CFF #BFA893 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #733E1F;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    height: 500px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background: #733E1F url(../imagens/vintage.jpg) center center /cover no-repeat;
    width: 250px;
    height: 200px;
}

div#formulario {
    display: block;
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: justify;
    font-size: 0.8em;
}

form > div.dados {
    display: block;
    background-color: #733E1F;
    width: 100%;
    height: 40px;
    color: white;
    margin: 5px 0px;
    border-radius: 8px;
    border: 2px solid #733E1F;
}

div.dados > label {
    display: none;
}

div.dados > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.dados > input {
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #BFA893;
    font-size: 1em;
    padding: 4px;
    transform: translateY(-13px); /*qnd tiver transform coloque sempre na ultima linha*/
}

div.dados > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    background-color: #A64914; 
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #9c3900;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #79340d;
    border: 1px solid #A64914;
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #a64914a6;
}

form > a.botao > i {
    font-size: 0.8em;
}
